node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/EXSensors.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/EXSMS.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/FBSDKCoreKit.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/FBSDKLoginKit.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/Folly.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/glog.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/GoogleToolboxForMac.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/GTMSessionFetcher.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/JKBigInteger2.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/Pods-rn-ios-native-module.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/React.xcscheme
ios/Pods/Pods.xcodeproj/xcuserdata/vasanthugar.xcuserdatad/xcschemes/xcschememanagement.plist
ios/rn-ios-native-module.xcworkspace/xcuserdata/vasanthugar.xcuserdatad/UserInterfaceState.xcuserstate
ios/rn-ios-native-module.xcworkspace/xcuserdata/vasanthugar.xcuserdatad/WorkspaceSettings.xcsettings
